/* some style */
html {
    font-family: ubuntu, sans;
}
html, body {
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
    flex: 1;
}
.horizontal {
    flex-direction: row;
}
.vertical {
    flex-direction: column;
}
#app {
    /*padding: 1em;*/
}
.load-wrapper {
    text-align: center;
    margin: 3em;
    border: none;
    display: block;
}
.loader-container {
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #ed1966; /* YC Pink */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.allcaps {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

header {
    background-color: black;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    margin-bottom: 50px;
    border: 0px solid red;
    height: 50px;
    max-height: 50px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
}
header button {
    color: white;
    background-color: transparent;
    border: 0;
}
.header-button:before {
    font-size: 25pt;
    content: "≡";
}
.header-button {
    width: 50px;
}

header>div {
    transform: translate(0, 32%);
    display: block-inline;
    vertical-align: middle;
    height: 50px;
    margin: 0 0.4em;
}

header {
    display: block-inline;
}

div#content-wrapper {
    margin-top: 60px;
    padding-top: 0.3em;
    margin-left: 1em;
    margin-right: 1em;
}

.inline-group {
    display: inline-flex;
}

.with-shadow {
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.5);
}

.inline-group>div {
    display: inline-flex;
    padding: 0 1em;
}

/* Focus Widget (Knives graphic with button) */
.focus-widget {
    background-image: url(/img/wusthof/wusthof_classic_3pc_512x256.jpg);
    background-size: cover;
    background-position: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0.3em;
    width: 100%;
    min-height: 150px;
    border-radius: 0.2em;
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.5); 
}

.focus-widget>div.light-button {
    grid-column: 1;
    grid-row: 2;
    margin: 2em;
    padding: 0.7em;
    font-size: 7pt;
    color: white;
    background-color: black;
}

.focus-widget>div {
    margin: 0em;
    padding: 0.5em;
}

.hidden {
    display: none;
}

/* Side Menu */

#side-menu {
    background-color: white;
    color: black;
}

#side-menu>div.contents {
    background-color: #444;
    color: white;
    position: fixed;
    top: 0;
    height: 100%;
    /*overflow-y: auto;*/
    width: 75%;
    max-width: 300px;
    z-index: 201;
}

.scroll {
    overflow-y: auto;
}

#side-menu>div.backdrop {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    opacity: 0.8;
    height: 100%;
    border: 0px solid red;
    z-index: 200;
}

#side-menu-header {
    padding: 1em;
}

#side-menu-header *> .light-button {
    
    margin: 0.5em;
    height: 1.2em;
    vertical-align: middle;
}

#side-menu-content-wrapper {
    background-color: white;
    color: black;
}

#side-menu-content-wrapper>div {
    padding: 1em;
    border-bottom: 0px solid #eee;
}

[hidden] {
    display: none;
}

.divider {
    border-bottom: 1px solid #eee;
}

.no-list {
    list-style-type: none;
    padding: 0;
}

.margin-bottom {
    margin-bottom: 0.5em;
}

.padding-left {
    padding-left: 1em;
}

.margin-left {
    margin-left: 1em;
}

nav#suggestions>ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.3em;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav#suggestions>ul>li {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: smaller;
}

nav#suggestions>ul>li>a {
    text-decoration: none;
}

nav#suggestions>ul>li>a:visited {
    color: inherit;
}

#check-list ul li {
    text-align: center;
    margin-bottom: 0.5em;
}

.light-button {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 1em;
    text-size: smaller;
    text-align: center;
    text-transform: uppercase;
}

.person-badge {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: 50%;
    background-image: url(/img/people/person.png);
    border: 0px solid white;
}

@media (max-width: 640px) {
    header#main-menu>div.inline-group {
        display: none;
    }

    button.headxer-button {
        display: none;
    }

    .padding-left {
        padding-left: 0;
    }

    .mw-640 {
        display: none;
    }
}

@media (min-width: 640px) {
    div#content-wrapper {
        padding-top: 3em;
        margin-left: 5em;
        margin-right: 5em;
    }

    button.header-button {
        display: none;
    }

    header#main-menu {
        /*padding-left: 1em;*/
    }

    #side-menu>div.backdrop {
        display: none;
    }

    .mw-640 {
        display: inherit;
    }
}


